body{
    background-color:#17202a;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 35px;
}

.container-big{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card{
    background-color: rgb(20, 33, 59);
    width: 250px;
    height: 250px;
    border: solid 1px #fff;
    border-radius: 7px;
    place-items: center;
    display: grid;
    margin: 0 50px;
    transition: transform 0.30s ease;
    box-shadow: 10px 5px #ffffffe0;
    
    img{
        margin: 0;
        width: 200px;
        height: 165px;
        border-radius: 7px;
    }


    h4{
        font-size: 30px;
        margin: 0;
        transition: color 0.30s ease;
    }
}

.card:hover{
    color: #059477;
    box-shadow: 3px 10px #059477;
    transform: scale(1.1);
}

